<app-menu></app-menu>
<div class="container">
  <div class="row">
    <div class="jumbotron bg-main">
      <h1 class="display-4">TouchPay</h1>
      <p class="lead">Vai sair pra praia e não quer levar a carteira ou o celular? Vem com a gente que é sucesso!</p>
      <hr class="my-4">
      <p>Somos uma aplicação onde com um simples cadastro você pode realizar pagamentos sem depender de celular ou cartão</p>
      <p>Garantimos a segurança dos seus dados e a praticidade na hora do pagamento.</p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>
  </div>
</div>