<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">
          <img src="assets/menu-brand.png" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">Login</a>
            <a class="nav-item nav-link" href="#">Cadastro</a>
            <a class="nav-item nav-link" href="#">Sobre nós</a>
            <a class="nav-item nav-link disabled" href="#">Disabled</a>
          </div>
        </div>
    </div>
  </nav>
  
  <div class="container">
    <div class="row">
      <div class="jumbotron bg-main">
        <h1 class="display-4">TouchPay</h1>
        <p class="lead">Vai sair pra praia e não quer levar a carteira ou o celular? Vem com a gente que é sucesso!</p>
        <hr class="my-4">
        <p>Somos uma aplicação onde com um simples cadastro você pode realizar pagamentos sem depender de celular ou cartão</p>
        <p>Garantimos a segurança dos seus dados e a praticidade na hora do pagamento.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
      </div>
    </div>
  </div>