/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import './colors.scss';
body{
    background-image: linear-gradient(to right, $start-gradient , $end-gradient);
    width: 100%;
}

.error-list{
    padding: 0;
    
    li{
        list-style: none;
        color: $error-color;
        padding: 0;
        font-size: 12px;
    }
}

input.ng-invalid.ng-touched{
    border-bottom: 1px solid $error-color!important;
    box-shadow: 0 1px 0 0 $error-color!important;
}

.btn-full{
    width: 100%;
}

.center{
    text-align: center;
}

.default-form {
    margin: 30px 0;
    padding: 20px;
    background-color: $white;
}

.row {
    margin-bottom: 15px;
}